@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    background-color: #3b82f6;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.2s ease;
  }
  
  .btn:hover {
    background-color: #2563eb;
  }
  